<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="mohammad omar" />
  <meta
    name="description"
    content="simple blog to practice on crud operations"
  />
  <link rel="icon" href="/images/favicon.ico" type="icon" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Spider | <%= title%></title>
</head>
