<header>
  <div class="container">
    <div class="logo"><a href="/">Spider</a></div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
      </ul>
    </nav>
  </div>
</header>
