<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <h1 style="padding: 5rem 0; text-transform: capitalize">about page</h1>
      <p style="font-weight: 400; font-size: 1.25rem; line-height: 1.5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
        corrupti soluta similique ratione et eum, cum minima quia ipsam. Facilis
        doloremque nisi, atque animi quam iure voluptatum ab quaerat libero.
      </p>
    </div>
  </body>
</html>
